/* ------------------------------------------------------------------------------------------------

     |  ___|  __ \  |   |  _ \   _ \   
     | |      |   | |   | |   | |   |  
 \   | |      |   | |   | __ <  |   |  
\___/ \____| ____/ \___/ _| \_\\___/   
                                       
  ___|  _ \  __ \  ____|    _ )   _ _| __ \  ____|    \     ___|  
 |     |   | |   | __|     _ \ \   |  |   | __|     _ \  \___ \  
 |     |   | |   | |      ( `  <   |  |   | |      ___ \       | 
\____|\___/ ____/ _____| \___/\/ ___|____/ _____|_/    _\_____/  

  https://jcduro.bexartideas.com/index.php | 2025 | JC Duro Code & Ideas

------------------------------------------------------------------------------------------------ */
  /* Reseteo básico para evitar margenes extra */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
/* Para que la cabecera sea visible sobre fondo negro */



/* ---- Maquetacion ---- */

:root {

  --glass-border: rgba(58,158,255,.33);

}



main {
  flex: 1 1 auto;
    width: 100%;
   max-width: 500px;
  margin: 30px auto 30px auto;
    background-color: #0c243cdd;
 border-radius: 12px;
  border: 2px solid var(--glass-border);
  box-shadow: 0 0 44px #53e7ff38;
padding: 25px 30px;
  align-items: center;
  justify-content: center;
  min-height: 200px;
    text-align: center;
}



.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
